<h1>Display Recent User details</h1>
<p>Firstname:<%=@user.firstname%></p>
<p>Lastname:<%=@user.lastname%></p>
<p>Designation:<%=@user.designation%></p>
<p>Origin:<%=@user.origin%></p>
<%= link_to "Home" , root_path %>